<div class="container">
    <h2>Sales</h2>
    <table class="striped">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Date</th>
                <th>Total Amount</th>
                <th>More</th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="x in sales track by x.id">
                <td>{{x.id}}</td>
                <td>{{x.createdAt}}</td>
                <td>{{totalValue(x)}}</td>
                <td></td>
            </tr>

        </tbody>
    </table>
    <div>
        <i data-ng-click="discoverSaleFeature()" class="fake-link">Need to add a sale?</i>
    </div>
    <!-- <ul class="collapsible popout" data-collapsible="accordion">
        <li>
            <div class="collapsible-header  ">Date - Time - Staff Member</div>
            <div class="collapsible-body "><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Date - Time - Staff Member</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>-->

    <div class="fixed-action-btn">
        <a id="addSale" class="waves-effect waves-light btn-floating btn-large red" data-ng-click="openModalNewSale()">
      <i class="large material-icons">add</i>
    </a>
    </div>

    <div class="tap-target" data-activates="addSale">
        <div class="tap-target-content">
            <h5>Add Button</h5>
            <p>
                Look for this button throughout the application when you need to add relevant entries to Boneless Pharmacy.
            </p>
        </div>
    </div>

    <div id="modalNewSale" class="modal bottom-sheet full-screen-modal">
        <div class="modal-content grey lighten-3">
            <h4>New Sale</h4>
            <div class="row input-field">
                <i class="material-icons prefix">add_shopping_cart</i>
                <label for="stockSearchInput">Search Item (Press Enter to Submit)</label>
                <input class="col sm10" type="text" id="stockSearchInput">
            </div>
            <table>
                <thead>
                    <tr>
                        <th>PLU</th>
                        <th>Name</th>
                        <th>Retail Price</th>
                        <th>Quantity</th>
                        <th>Stock On Hand</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="s in newSaleRecords">
                        <td>{{s.salesItem.id}}</td>
                        <td>{{s.salesItem.name}}</td>
                        <td>{{s.salesItem.price}}</td>
                        <td><input type="number" name="{{s.salesItem.id}}-quantity" id="{{s.salesItem.id}}-quantity" data-ng-model="s.quantity" class="number-small"></td>
                        <td>{{s.salesItem.stockOnHand}}</td>
                        <td>{{s.salesItem.price * s.quantity | number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer grey lighten-3">
            <a href="#/sales" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            <a class="waves-effect waves-light btn grey darken-4 white-text" data-ng-click="addNewSale()">Add</a>
        </div>

    </div>

    <div id="modalSaleDetails" class="modal">
        <div class="modal-content grey lighten-3">
            <h4>Details</h4>
            <p>Details and whatnot</p>
        </div>
        <div class="modal-footer grey lighten-3">
            <a href="#/sales" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>