<div class="container">
    <h2>Sales Management</h2>
    <table class="striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Stock Names</th>
                <th>Stock Quantities</th>
                <th>Total Amount</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Some date</td>
                <td>Names</td>
                <td>Numbers</td>
                <td>$69.00</td>
            </tr>

        </tbody>
    </table>

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">Date - Time - Staff Member</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Date - Time - Staff Member</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
       
    </ul>



    <div class="fixed-action-btn">
        <a class="waves-effect waves-light btn-floating btn-large red" data-ng-click="openModalNewSale()">
      <i class="large material-icons">add</i>
    </a>
    </div>

    <div id="modalNewSale" class="modal bottom-sheet">
        <div class="modal-content grey lighten-3">
            <h4>New Stock Item</h4>
            <div class="row input-field">
                <i class="material-icons prefix">account_circle</i>
                <label for="stockNameInput">Employee Name</label>
                <input type="text" id="stockNameInput">
            </div>
        </div>
        <div class="modal-footer grey lighten-3">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            <a class="waves-effect waves-light btn grey darken-4 white-text" data-ng-click="addNewSale()">Add</a>
        </div>

    </div>


</div>