<div>
    <h2>Stock Management</h2>
    <table class="striped">
        <thead>
            <tr>
                <th>PLU</th>
                <th>Item</th>
                <th>Retail Price</th>
                <th>Size</th>
                <th>Stock On Hand</th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="s in salesItems track by s.id">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.price}}</td>
                <td>{{s.amount}} {{s.measurement.suffix}}</td>
                <td>{{s.stockOnHand}}</td>
            </tr>
        </tbody>
    </table>



    <div class="fixed-action-btn">
        <a  class="pulse waves-effect waves-light btn-floating btn-large pink darken-1" data-ng-click="openModalAddStock()">
      <i class="large material-icons">add</i>
    </a>
    </div>

    <div id="modalAddStock" class="modal">
        <div class="modal-content blue-grey darken-2 white-text">
            <h4>New Item</h4>
            <div class="row input-field">
                <i class="material-icons prefix">text_fields</i>
                <label for="stockNameInput">Name</label>
                <input type="text" id="stockNameInput">
            </div>
            <div class="row input-field">
                <i class="material-icons prefix">attach_money</i>
                <label for="stockPrice">Retail Price</label>
                <input type="number" id="stockPrice">
            </div>
            <div class="row input-field">
                <i class="material-icons prefix">poll</i>
                <label for="stockQtyInput">Quantity</label>
                <input type="number" id="stockQtyInput">
            </div>
            <!-- TODO: Fix This -->
            <!-- <div class="row input-field">
                <i class="material-icons prefix">assignment</i>
                <label for="stockMeasureInput">Measurement</label>
                <select id="stockMeasureInput">
                    <option data-ng-repeat="m in measurements track by m.id" value="{{m.id}}">{{m.description}} ({{m.suffix}})</option>
                </select>
            </div> -->
        </div>
        <div class="modal-footer blue-grey darken-2 ">
            <a href="#/stock" class="modal-action modal-close btn-flat white-text">Close</a>
            <a class="waves-effect waves-light btn grey darken-4 white-text" data-ng-click="addNewStockItem()">Add</a>
        </div>

    </div>


</div>