.full-screen-modal
{
    max-height: 85% !important;
    height: 85% !important; 
}

.full-screen-modal .modal-content
{
    height: 85% !important;
}

.full-screen-modal .modal-footer
{
    height: 15% !important;
}

.fake-link:hover
{
    cursor: help;
}

.number-small
{
    width: 120px !important;
}