#pageTitle {
    margin-left: 10px;
}
.full-screen-modal
{
    max-height: 85% !important;
    height: 85% !important; 
}

.full-screen-modal .modal-content
{
    height: 85% !important;
}

.full-screen-modal .modal-footer
{
    height: 15% !important;
}

.fake-link:hover
{
    cursor: help;
}

.number-small
{
    width: 120px !important;
}

.side-nav > li> a:hover {
    background-color: #00838f;
    color: white;
}

.tabs > .tab > a:hover {
    background-color: #00838f;
}

.dropdown-content > li > a:hover {
    background-color: #00838f;
    color: white;
}

tbody tr:hover {
    background: #bbdefb;
}
  